.btn{
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-size: 32px;
}
.id{
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
    border-radius: 20px;
    font-size: 32px;
}